.DraggableComponent {
  pointer-events: all;
  position: relative;
  transition: outline 0.2s;
  cursor: grab;
  box-sizing: border-box;
  display: flex;
}

.DraggableComponent:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline-offset: -2px;
  outline: 2px solid transparent;
  z-index: 1;
}

.DraggableClone:before {
  outline: 2px solid var(--exp-builder-blue500);
}

.DraggableClone,
.DraggableClone * {
  pointer-events: none !important;
}

.DraggableComponent > * {
  pointer-events: none;
}

.isDragging {
  overflow: hidden;
}

.isSelected:before {
  outline: 2px solid transparent !important;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: max-content;
  height: 24px;
  z-index: 1;
  font-family: var(--exp-builder-font-stack-primary);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--exp-builder-gray500);
  color: var(--exp-builder-color-white);
  border-radius: 0 0 2px 0;
  padding: 4px 12px 4px 12px;
  transition: opacity 0.2s;
  opacity: 0;
  text-wrap: nowrap;
}

.overlayContainer {
  opacity: 0;
}

.overlayAssembly {
  background-color: var(--exp-builder-purple600);
}

.userIsDragging > .overlay,
.userIsDragging > .overlayContainer {
  opacity: 0 !important;
}

.userIsDragging:before {
  outline: 2px solid transparent !important;
}

.DraggableComponent:hover:not(:has(div[data-rfd-draggable-id]:hover)) > .overlay {
  opacity: 1;
}

.DraggableComponent:hover:before,
.DraggableComponent:hover div[data-rfd-draggable-id]:before {
  outline: 2px dashed var(--exp-builder-gray500);
}

.DraggableComponent:hover:not(:has(div[data-rfd-draggable-id]:hover)):before {
  outline: 2px solid var(--exp-builder-gray500);
}

.isAssemblyBlock:hover:before,
.isAssemblyBlock:hover div[data-rfd-draggable-id]:before,
.DraggableComponent:hover div[data-rfd-draggable-id][data-cf-node-block-type^='assembly']:before {
  outline: 2px dashed var(--exp-builder-purple600);
}

.isAssemblyBlock:hover:not(:has(div[data-rfd-draggable-id]:hover)):before {
  outline: 2px solid var(--exp-builder-purple600);
}
