---
import Layout from '../layouts/Layout.astro';
import { detachExperienceStyles } from '@contentful/experiences-sdk-react';
import Experience from '../components/Experience';
import { getExperience } from '../getExperience';
import '../studio-config';

const slug = Astro.params.slug || 'home-page';
const isPreview = Astro.url.searchParams.has('isPreview', 'true');
const isEditorMode = Astro.url.searchParams.has('expEditorMode', 'true');
const localeCode = Astro.preferredLocale || 'en-US';

const { experience, error } = await getExperience(
  slug,
  localeCode,
  isPreview,
  isEditorMode
);

// extract the styles from the experience
const stylesheet = experience ? detachExperienceStyles(experience) : null;
---

<style is:global set:html={stylesheet}></style>

<Layout title="Welcome to Studio Experiences with Astro!">
  <main>
    {
      error ? (
        <div>{error.message}</div>
      ) : (
        <Experience client:load experience={experience} locale={localeCode} />
      )
    }
  </main>
</Layout>
