@import './variables.css';

#EmptyContainer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--exp-builder-gray400);
  font-size: var(--exp-builder-font-size-l);
  font-family: var(--exp-builder-font-stack-primary);
  border: 1px dashed var(--exp-builder-gray500);
}

#EmptyContainer.highlight:hover {
  border: 1px dashed var(--exp-builder-blue500);
  background-color: var(--exp-builder-blue100);
  cursor: grabbing;
}

#EmptyContainer .icon {
  margin-left: var(--exp-builder-spacing-s);
}
