# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tgz
.npmrc

node_modules
build
.yarn
dist
reports
coverage
dist-ssr
*.local
.yarnrc.yml
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnp.*

tmp/

.vercel
# Ignore built styles.css file in packages/components
/packages/components/styles.css

# Ingore .nx local files
.nx

# Ingore .env local files
.env

**/cypress/screenshots/**
**/cypress/videos/**