.contentful-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  pointer-events: all;
}

.contentful-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.cf-single-column-wrapper {
  position: relative;
}

.cf-container-wrapper {
  position: relative;
  width: 100%;
}

.contentful-container:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
  font-family: var(--exp-builder-font-stack-primary);
  font-size: 12px;
  color: var(--exp-builder-gray400);
  z-index: 1;
}

.contentful-section-label:after {
  content: 'Section';
}

.contentful-container-label:after {
  content: 'Container';
}

/* used by ContentfulSectionAsHyperlink.tsx */
.contentful-container-link,
.contentful-container-link:active,
.contentful-container-link:visited,
.contentful-container-link:hover,
.contentful-container-link:read-write,
.contentful-container-link:focus-visible {
  color: inherit;
  text-decoration: unset;
  outline: unset;
}
