.contentful-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.contentful-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* used by ContentfulSectionAsHyperlink.tsx */
.contentful-container-link,
.contentful-container-link:active,
.contentful-container-link:visited,
.contentful-container-link:hover,
.contentful-container-link:read-write,
.contentful-container-link:focus-visible {
  color: inherit;
  text-decoration: unset;
  outline: unset;
}
