.overlayed {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 20;
  left: 20;
  z-index: 10000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: var(--exp-builder-font-stack-primary);
  font-size: var(--exp-builder-font-size-l);
  color: var(--exp-builder-gray800);
}
