.cf-no-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.cf-no-image img {
  width: 100%;
  background-color: var(--cf-color-gray100);
  outline-offset: -2px;
  outline: 2px solid rgba(var(--cf-color-gray400-rgb), 0.5);
}

.cf-no-image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--cf-text-3xl);
  width: var(--cf-text-3xl);
  max-height: 100%;
  max-width: 100%;
}

.cf-no-image svg path {
  fill: var(--cf-color-gray400);
}
