.container {
  height: 200px;
  display: flex;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.2s;
  color: var(--exp-builder-gray400);
  font-size: var(--exp-builder-font-size-l);
  font-family: var(--exp-builder-font-stack-primary);
  outline: 2px dashed var(--exp-builder-gray400);
  outline-offset: -2px;
}

.highlight:hover {
  outline: 2px dashed var(--exp-builder-blue500);
  background-color: rgba(var(--exp-builder-blue100-rgb), 0.5);
  cursor: grabbing;
}

.icon rect {
  fill: var(--exp-builder-gray400);
}

.label {
  margin-left: var(--exp-builder-spacing-s);
}
