div.layout {
  background: var(--gray-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header.header {
  background: var(--gray-1);
}

main.content {
  background: var(--gray-1);
  flex: 1;
}

footer.footer {
  background: var(--gray-9);
}
