@import '../../variables.css';

#ContentfulContainer.defaultStyles {
  overflow: scroll;
  position: relative;
  display: flex;
  box-sizing: border-box;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#ContentfulContainer.defaultStyles::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#ContentfulContainer .lineHorizontal {
  height: 3px;
  width: 200px;
  background: var(--exp-builder-blue500);
  margin: 10px;
}

#ContentfulContainer .lineVertical {
  height: 190px;
  width: 3px;
  background: var(--exp-builder-blue500);
  margin: 10px;
}

/* used by ContentfulSectionAsHyperlink.tsx */
.cf-section-link,
.cf-section-link:active,
.cf-section-link:visited,
.cf-section-link:hover,
.cf-section-link:read-write,
.cf-section-link:focus-visible {
  color: inherit;
  text-decoration: unset;
  outline: unset;
}
