/*
 * All of these variables are tokens from Forma-36 and may not be adjusted as these
 * are global variables that may affect different places.
 * Forma-36 tokens: https://f36.contentful.com/tokens/color-system
 * As our customers may use other design libraries, we try to avoid overlapping global
 * variables by always using the prefix `--f36-` inside this SDK.
 * 
 */

:root {
  /* color */
  --f36-blue100: #e8f5ff;
  --f36-blue200: #ceecff;
  --f36-blue300: #98cbff;
  --f36-blue400: #40a0ff;
  --f36-blue500: #036fe3;
  --f36-blue600: #0059c8;
  --f36-blue700: #0041ab;
  --f36-blue800: #003298;
  --f36-blue900: #002a8e;
  --f36-gray100: #f7f9fa;
  --f36-gray200: #e7ebee;
  --f36-gray300: #cfd9e0;
  --f36-gray400: #aec1cc;
  --f36-gray500: #67728a;
  --f36-gray600: #5a657c;
  --f36-gray700: #414d63;
  --f36-gray800: #1b273a;
  --f36-gray900: #111b2b;
  --f36-red200: #ffe0e0;
  --f36-red800: #7f0010;
  --f36-color-white: #ffffff;
  --f36-glow-primary: 0px 0px 0px 3px #e8f5ff;

  /* spacing */
  --f36-spacing-s: 0.75rem;
  --f36-spacing-2xs: 0.25rem;

  /* typography */
  --f36-font-size-l: 1rem;
  --f36-font-size-m: 0.875rem;
  --f36-font-stack-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --f36-line-height-condensed: 1.25;
}
