ul.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  border-bottom: 1px solid transparent;
}

.nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
