.rootContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}
