@import '../variables.css';

#ContentfulSection.defaultStyles {
  min-height: 200px;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  display: flex;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#ContentfulSection.defaultStyles::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#ContentfulSection .lineHorizontal {
  position: relative;
  width: 3px;
  height: 23px;
  margin: 10px;
  background: transparent;
}

#ContentfulSection .lineHorizontal::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background: var(--blue500);
}

#ContentfulSection .lineVertical {
  position: relative;
  width: 23px;
  height: 190px;
  margin: 10px;
  background: transparent;
}

#ContentfulSection .lineVertical::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background: var(--blue500);
}

#ContentfulSection .tooltip {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 1px;
  right: 1px;
}

#ContentfulSection .containerBorder {
  box-shadow: inset 0px 0px 0px 1px var(--blue500);
  box-sizing: border-box;
}
