@import '../variables.css';

#ContentfulSection.defaultStyles {
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: safe center;
  position: relative;
  display: flex;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#ContentfulSection.defaultStyles::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#ContentfulSection .lineHorizontal {
  height: 3px;
  width: 200px;
  background: var(--blue500);
  margin: 10px;
}

#ContentfulSection .lineVertical {
  height: 190px;
  width: 3px;
  background: var(--blue500);
  margin: 10px;
}

#ContentfulSection .empty {
  min-height: 200px;
}
