@import '../variables.css';

#EmptyContainer.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--gray500);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  border: 1px dashed var(--gray500);
}

#EmptyContainer.highlight {
  border: 1px dashed var(--blue500);
  background-color: var(--blue100);
}

#EmptyContainer.icon {
  margin-left: var(--spacing-s);
}
