.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  outline-offset: -2px;
  outline: 2px solid transparent;
  width: 100%;
  transition: outline 0.2s;
}

.container:not(.isRoot) {
  outline-offset: -1px;
}
.isRoot,
.isEmpty {
  flex: 1;
}

.hitbox {
  position: absolute;
  bottom: -10px;
  width: 100%;
  z-index: 1;
  pointer-events: all !important;
  height: 20px;
}

.isDragging:not(.isRoot) {
  outline: 2px dashed var(--exp-builder-blue500);
}

.isDestination:not(.isRoot) {
  outline: 2px dashed var(--exp-builder-blue500);
  background-color: rgba(var(--exp-builder-blue100-rgb), 0.5);
}
