.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s;
  pointer-events: all;
}

.container:not(.isRoot):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline-offset: -1px;
  outline: 2px solid transparent;
  z-index: 1;
  transition: outline 0.2s;
}

.isRoot,
.isEmptyCanvas {
  flex: 1;
}

.isEmptyZone {
  min-height: 80px;
}

.isDragging:not(.isRoot):before {
  outline: 2px dashed var(--exp-builder-gray300);
}

.isDestination:not(.isRoot) {
  background-image: none !important;
  background-color: rgba(var(--exp-builder-blue100-rgb), 0.5);
  z-index: 100;
}

.isDestination:not(.isRoot):before {
  outline: 2px dashed var(--exp-builder-blue400);
}

.hitbox {
  position: fixed;
  pointer-events: all !important;
}
