ul.menu {
  display: flex;
  flex: 1;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

ul.menu :global li.ant-menu-item-selected::after,
ul.menu :global li.ant-menu-item-active::after {
  border-bottom-color: var(--orange-2) !important;
}

ul.menu li span {
  color: var(--orange-2);
}

article.heading {
  color: var(--gray-1);
  padding: 0 1rem;
}

article.copyright {
  color: var(--gray-1);
  padding: 0 1rem;
}

article.darkText {
  color: var(--gray-7);
}

div.debugInfo {
  padding: 0 1rem;
}

div.links {
  min-width: 240px;
}

div.nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

div.divider {
  height: 1rem;
  background: var(--gray-7);
}
